<!DOCTYPE html>
<html>
	<head>
		<title>Ping</title>
		<link rel="stylesheet" href="/assets/Chart.css" />
	</head>
	<body>
		<canvas id="Chart1"></canvas>
		<script src="/assets/Chart.min.js"></script>
		<script src="/assets/moment.min.js"></script>
		<script>
			var data;
			function getParameterByName(name, url) {
				if (!url) url = window.location.href;
				name = name.replace(/[\[\]]/g, '\\$&');
				var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, ' '));
			}

			var xhr = new XMLHttpRequest();
			if (getParameterByName('d') && parseInt(getParameterByName('d')) < 30) {
				console.log('d');
				var d = parseInt(getParameterByName('d'));
				xhr.open('GET', `/api/ping?d=${d}`);
				console.log('/api/ping?d='+d);
			} else if (getParameterByName('h') && parseInt(getParameterByName('h')) < 24) {
				console.log('h');
				var h = parseInt(getParameterByName('h'));
				xhr.open('GET', `/api/ping?sudo=workpls&h=${h}`); // ?h=${h} doesn't work for some reason
				console.log(`/api/ping?h=${h}`);
			} else {
				console.log('n');
				xhr.open('GET', '/api/ping');
			}
			xhr.onload = function() {
				data = JSON.parse(this.responseText);
				var lineChartData = {
					labels: [],
					datasets: [
						{
							label: 'Average',
							borderColor: 'cyan',
							backgroundColor: 'transparent',
							spanGaps: false,
							data: []
						},
						{
							label: 'Max',
							borderColor: 'purple',
							backgroundColor: 'transparent',
							spanGaps: false,
							data: []
						},
						{
							label: 'Min',
							borderColor: 'green',
							backgroundColor: 'transparent',
							spanGaps: false,
							data: []
						}
					]
				};
				
				for (var i=0;i<data.length;i++) {
					lineChartData.labels.push(moment.unix(data[i].timestamp).format('D MMM YY HH:mm'));
					
					lineChartData.datasets[0].data.push(data[i].average==0?'u':data[i].average); //average==0?'u':average //data[i].average
					lineChartData.datasets[1].data.push(data[i].max==0?'u':data[i].max);
					lineChartData.datasets[2].data.push(data[i].min==0?'u':data[i].min);
				}

				ctx = document.getElementById("Chart1").getContext("2d");
				var myLineChart = new Chart(ctx, {
					type: 'line',
					data: lineChartData,
					options: {
						responsive: true
					}
				});
			}

			xhr.send();
		</script>
	</body>
</html>